 
body, html {
    height: 100%;
}

.body { 
    background-image:url("../images/pg2.jpg");
    height: 100%;
    background-repeat: no-repeat;
     background-size: 105%; 
     background-attachment: fixed;
}
 img{
    
    width: 210px;
    height: 136px;
} 
.row{
   width: 100%;
}

p,h5{
    text-align: center;
}
p,div{
    font-family: 'Monda', sans-serif;
    /* font-weight: bold; */
    color:white;
    font-size: 20px;
}
.img-holder{
    display: inline-block;
    border: 1px solid black;
    margin-left: 3%;
    width: 240px;
    height: 208px;
    padding: 1%;
    background-color: #7fa4e0;
}
#attacker-info,#defnder-info,#info{
    text-align: left;
}
#attack {
    color: rgb(255, 255, 255); font-size: 22px; 
    line-height: 22px; 
    padding: 6px;
    font-family: Georgia, serif;
    background: #6590d4;
    width: 10%;
}
#attack:hover {
   background: #7fa4e0
}
#attack:active {
    background: #6590d4; 
}
#reset {
     margin-top: 2%;
     color: rgb(255, 255, 255); font-size: 22px; 
     line-height: 22px; 
     padding: 6px;
     font-family: Georgia, serif;
     background: #8c242e;
     width: 10%;
}
 #reset:hover {
     background: #e0818a}
#reset:active {
     background: #8c242e; }